*{
    /* use border-box to include padding and margin in the height and width */
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
body{
    margin: auto;
}

.menu{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(12, 196, 193));
    /* background-color:rgb(64, 224, 208); */
    height: auto;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.navList{
    display: flex; 
    justify-content: flex-end;
    /* to verticle align text */
    vertical-align: middle;  
    /* this vertically aligns flex items */
    align-items: center;  
    margin: auto;
    height: auto;
    text-decoration: none;
    list-style-type: none;
    margin-right: 8%;
}
.navList li a{
    display: block;
    padding: 10px;
    margin: 5px;
    color: black;
    text-decoration: none;
}
.navList li a:hover{
    background-color: rgb(122, 238, 226);
}

.content{
    margin:80px auto 5px 5px;
    height: 70vh;
}

.sectionDiv {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    margin-top: 5%;
}
.col-left {
    grid-row-start: 1;
    grid-row-end: 3; 
}
.col-left > * {
    margin: auto auto auto 30%;
}
.col-right {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 60%;
    
}
.name {
    color: rgba(56,114,165);
}

.psize {
    font-size: 1.2em;
}

.journeytitle {
    padding: 30px 30px;
    margin-left: 40%;
    color: #be529e;
}
.marker{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}
.size {
    width: 30px;
    height: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card-marker {
    width: auto;
    margin: 0px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 200px;
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}
.card > h4 {
    color: #178f47;  
}

.road {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 10%;
    background-color: #a09f9f;
    /* flex-wrap: nowrap; */
}

.car {
    position: relative;
    animation-name:move-car;
    animation-duration: 5s;
    z-index: 1;
    left: 90%;
}
.divider {
    position: relative;
    left: -30px;
    width: 95%;
    border-top: dashed;
    color: rgb(241, 238, 124);
}
@keyframes move-car {
    from {left: 0%;}
    to {left: 90%;}
}
